$brand-primary:               rgba(73, 0, 168, 1);

$btn-default-color:           #fff;
$btn-default-bg:              $brand-primary;
$btn-default-border:          darken($brand-primary, 10%);

$border-radius-base:          2px;
$border-radius-large:         2px;
