<div class="row">
  <div class="col-xs-6">
    <h5>About</h5>
    <ul>
      <li>
        <a href="#">Company</a>
      </li>
      <li>
        <a href="#">Jobs</a>
      </li>
      <li>
        <a href="#">Press</a>
      </li>
      <li>
        <a href="#">Engineering</a>
      </li>
    </ul>
  </div>
  <div class="col-xs-6">
    <h5>Team Solutions</h5>
    <ul>
      <li>
        <a href="#">Marketing</a>
      </li>
      <li>
        <a href="#">Project Management</a>
      </li>
      <li>
        <a href="#">Managers</a>
      </li>
    </ul>
  </div>
  <div class="col-xs-6">
    <h5>Apps</h5>
    <ul>
      <li>
        <a href="#">Company</a>
      </li>
      <li>
        <a href="#">Jobs</a>
      </li>
      <li>
        <a href="#">Press</a>
      </li>
      <li>
        <a href="#">Engineering</a>
      </li>
    </ul>
  </div>
  <div class="col-xs-6">
    <h5>Support</h5>
    <ul>
      <li>
        <a href="#">Company</a>
      </li>
      <li>
        <a href="#">Jobs</a>
      </li>
      <li>
        <a href="#">Press</a>
      </li>
      <li>
        <a href="#">Engineering</a>
      </li>
    </ul>
  </div>
</div>
<footer>
  &copy; 2016 Somecompany.com
</footer>