<h1 class="text-center">Hello, world!</h1>

<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra consectetur ipsum, quis laoreet diam egestas gravida. In justo mauris, maximus id fringilla ut, feugiat laoreet tortor. Nullam accumsan turpis rutrum tellus dictum convallis et sed nisi. Sed finibus diam nunc, vitae auctor erat consequat nec. Etiam et fringilla velit.</p>

<div>
  <buttton {{action 'buttonClicked'}} class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-5 btn btn-primary btn-lg">Learn more</buttton>
</div>