<div class="row" class="text-center">
  <div class="col-sm-6 visible-sm-block">
    <img src="/assets/layers.png" class="img-responsive" alt="">
  </div>
  <div class="col-sm-6">
    <h2>Redefining the web</h2>

    <img src="/assets/layers.png" class="img-responsive visible-xs-block" alt="">

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra consectetur ipsum, quis laoreet diam egestas gravida. In justo mauris, maximus id fringilla ut, feugiat laoreet tortor. Nullam accumsan turpis rutrum tellus dictum convallis et sed nisi. Sed finibus diam nunc, vitae auctor erat consequat nec. Etiam et fringilla velit. Aliquam scelerisque vel est ut ultrices. Mauris tempor nulla at dui porttitor imperdiet in convallis tortor. </p>

    <p>Aenean ut dignissim enim. Proin et sollicitudin sem. Vivamus eget tortor eu tortor malesuada bibendum quis nec purus. Donec venenatis consequat lorem vitae malesuada. </p>

    <button class="btn btn-link">Learn more</button>
  </div>
</div>
