& {
  background: $services-bg-color;
  color: $services-text-color;
  padding: 2em 1.5em;

  h2 {
    color: $services-headings-color;
    margin: 1em;
  }

  .fi {
    font-size: 2em;
    color: $services-text-color;
  }

  .form-group {
    input, textarea {
      background: rgba(38, 38, 38, 1);
      border: none;
      color: $services-headings-color;
    }
  }

  form {
    margin: 2em 0;

    button {
      margin-top: 1.5em;
    }
  }

  .address-info {
    h5 {
      color: $services-headings-color;
      margin-top: 1em;
    }

    p {
      margin: .2em 0;
    }

    a {
      &, &:visited {
        color: $services-text-color;
      }

      &:hover, &:active {
        color: $services-headings-color;
      }
    }

    .social-links a {
      font-size: .8em;
      padding-right: .2em;
    }
  }
}
